<div class="container">
    <input list="redirectOptions" [(ngModel)]="searchTermRedirect" placeholder="Ir a..." class="search-input">
    <datalist id="redirectOptions">
        <option value="Iniciar sesión"></option>
        <option value="Olvide mi contraseña"></option>
        <option value="contraseña"></option>
        <option value="Registro"></option>
        <option value="Registrarme"></option>
        
    </datalist>
    <button (click)="redirectToPage()" class="search-button">Ir</button>

    <!-- Contenedor con el contenido de la página -->
    <div id="content" #contentContainer>
        <header class="header">
            <h1>Bienvenido a SanaConexión</h1>
            <p class="slogan">Conexión directa con expertos en bienestar</p>
        </header>
        <section class="intro">
            <h2>¿Qué es SanaConexión?</h2>
            <p>Somos una plataforma diseñada para conectar de manera sencilla y eficiente a nutriólogos y clientes...</p>
        </section>
        <section class="benefits">
            <h2>¿Por Qué Unirse a SanaConexión?</h2>
            <div class="benefit-card">
                <h3>Asesoría Nutricional Personalizada</h3>
                <p>Nutriólogos calificados están listos para brindarte recomendaciones adaptadas a tus metas.</p>
            </div>
            <div class="benefit-card">
                <h3>Acceso a Información Confiable</h3>
                <p>Encuentra artículos, videos y recursos creados por profesionales.</p>
            </div>
            <div class="benefit-card">
                <h3>Conexión Directa con Especialistas</h3>
                <p>Gracias a SanaConexión, contacta rápidamente a expertos en nutrición.</p>
            </div>
        </section>
    </div>
    
    
    
</div>
<footer>
    <app-pie-pagina></app-pie-pagina>
  </footer>

