<nav class="navbar navbar-expand-lg bg-primary fixed-top w-100 navbar-custom" data-bs-theme="dark">  
    <div class="container-fluid">  
        <a class="navbar-brand" href="#">Sistema de nutrición</a>  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">  
            <span class="navbar-toggler-icon"></span>  
        </button>  
        <div class="collapse navbar-collapse" id="navbarNav">  
            <ul class="navbar-nav">  
                <li class="nav-item">  
                    <a class="nav-link active" aria-current="page" href="#">Home</a>  
                </li>  
            </ul>  
        </div>  
        <div class="d-flex align-items-center">  
            <div>  
                <button data-mdb-ripple-init type="button" class="btn btn-primary me-3" routerLink="/login">  
                    Iniciar sesión  
                </button>  
            </div>  
        </div>  
    </div>  
</nav>
