<div class="cuenta-container">
    <h2 class="cuenta-title">Crea tu cuenta de especialista</h2>

    <div class="form-group">
        <label for="correo">Ingresa tu correo electrónico</label>
        <input type="text" id="correo" placeholder="Correo electrónico">
    </div>

    <div class="form-group">
        <label for="password1">Ingresa la contraseña de tu cuenta</label>
        <input type="password" id="password1" placeholder="Contraseña">
    </div>

    <div class="form-group">
        <label for="password2">Ingresa la contraseña nuevamente</label>
        <input type="password" id="password2" placeholder="Contraseña">
    </div>


    <button class="next-button">Guardar Información</button>

</div>