<div class="container">
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <!-- Icono de error -->
            <i class="bi bi-emoji-frown" style="font-size: 100px; color: #dc3545;"></i>
            <h1 class="display-1 text-danger">404</h1>
            <h2 class="h4">Página no encontrada</h2>
            <p class="lead">Lo sentimos, la página que buscas no existe o ha sido movida.</p>
            <a routerLink="/home" class="btn btn-primary btn-lg">Volver al inicio</a>
          </div>
        </div>
      </div>
</div>

  