<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="row w-100">
        <!-- Imagen a la izquierda -->
        <div class="col-md-6 text-center">
            <img [src]="ruta"alt="Error" class="img-fluid" style="max-width: 80%;">
        </div>
  
        <!-- Contenido a la derecha -->
        <div class="col-md-6 text-center d-flex flex-column align-items-center justify-content-center">
            <h2 class="text-primary fw-bold">{{errorFrase}}</h2>
            <i class="bi {{errorIcon}}" style="font-size: 80px; color: #dc3545;"></i>
            <h1 class="display-1 text-danger fw-bold">{{ errorCode }}</h1>
            <h2 class="h4 text-dark">{{ errorMessage }}</h2>
            <p class="lead text-secondary">Lo sentimos, parece que hubo un problema con la solicitud.</p>
            <a routerLink="/home" class="btn btn-primary btn-lg mt-3">Volver al inicio</a>
        </div>
    </div>
  </div>
  