<div class="container mt-5">
  <!-- Sección de videos -->
  <div class="mb-5">
    <h2 class="mb-4 text-center">Videos Recomendados</h2>
    <div class="d-flex flex-wrap justify-content-center" style="gap: 1rem;">
      <div *ngFor="let video of videos" class="card video-card shadow-lg">
        <div class="video-container">
          <iframe [src]="getVideoUrl(video.id.videoId)" frameborder="0" allowfullscreen class="w-100"
            style="height: 200px; border-radius: 8px;"></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ video.snippet.title }}</h5>
          <p class="card-text">{{ video.snippet.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
