<div class="registro-container">
    <h2 class="registro-title">Registro de Nutriólogo Especialista</h2>
    <div class="form-group">
        <label for="nombreEsp">Nombre completo</label>
        <input type="text" id="nombreEsp" placeholder="Nombre completo">
    </div>
    
    <div class="form-group">
        <label for="telefonoEsp">Número de teléfono</label>
        <input type="text" id="telefonoEsp" placeholder="Número de teléfono">
    </div>
    
    <div class="form-group">
        <label for="cedulaEsp">Número de cédula</label>
        <input type="text" id="cedulaEsp" placeholder="Número de cédula">
    </div>

    <div class="form-group">
        <label for="gradoEsp">Grado de estudios</label>
        <input type="text" id="gradoEsp" placeholder="Grado de estudios">
    </div>

    <div class="form-group">
        <label for="especialidadEsp">Especialidad</label>
        <input type="text" id="especialidadEsp" placeholder="Especialidad">
    </div>

    <div class="form-group">
        <label for="certificacionesEsp">Certificaciones</label>
        <input type="text" id="certificacionesEsp" placeholder="Certificaciones">
    </div>

    <div class="form-group">
        <label for="experienciaEsp">Años de experiencia</label>
        <input type="text" id="experienciaEsp" placeholder="Años de experiencia">
    </div>

    <div class="form-group">
        <label for="fotoEsp">Tómate una foto, por favor</label>
        <button class="camera-button">Activar cámara</button>
    </div>
    
    <a routerLink="/formEspCuenta">
        <button class="next-button">Siguiente</button>
    </a>

    <div class="d-flex justify-content-between align-items-center">
        <p>Ya tengo cuenta <a (click)="goToComponent()" style="color: #040d97;">Regresar</a></p>
      </div>
</div>
