.home-container {
  max-width: 800px;
  margin: 80px auto;
  padding-top: 0px;
  text-align: center;
  margin-top: -15px;
}

.home-title {
  font-size: 2em;
  color: #4caf50;
  margin-bottom: 20px;
  font-weight: bold;
}

.descripcion p {
  font-size: 1.2em;
  color: #666;
  line-height: 1.6;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
  color: #4caf50;
  font-size: 1.5em;
  margin: 20px 0 10px;
}

.beneficios,
.servicios {
  margin-top: 20px;
}

.beneficios ul,
.servicios ul {
  list-style-type: none;
  padding: 0;
}

.beneficios li,
.servicios li {
  font-size: 1em;
  padding: 10px;
  color: #333;
  display: flex;
  align-items: center;
  background-color: #e8f5e9;
  border-radius: 8px;
  margin-bottom: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.beneficios li i,
.servicios li i {
  color: #4caf50;
  margin-right: 8px;
}

.btn-agendar {
  margin-top: 30px;
  padding: 12px 24px;
  font-size: 1.1em;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-agendar:hover {
  background-color: #43a047;
}

.breadcrumb {
  margin-top: 40px;
  position: relative;
  right: -20px;
}
.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


mark {
  background-color: yellow;
}

input {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-container {
  display: flex;
  gap: 10px; /* Espacio entre elementos */
  align-items: center; /* Alineación vertical */
  justify-content: center; /* Centrado horizontal */
  margin-top: 10px;
}

.search-input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 250px; /* Mismo ancho para ambos */
}

.search-button {
  padding: 10px 15px;
  border: none;
  background-color: #28a745; /* Verde tipo Bootstrap */
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.search-button:hover {
  background-color: #218838; /* Un verde más oscuro al pasar el mouse */
}

