<div *ngIf="datosCargados">
  <div class="breadcrumb">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          Home
        </li>
        <li class="breadcrumb-item active">

        </li>
      </ol>
    </nav>
  </div>
  <div class="redirect-container"> 

    <input list="redirectOptions" [(ngModel)]="searchTermRedirect" placeholder="Ir a..." class="search-input">
    <datalist id="redirectOptions">
        <option value="Expedientes"></option>
        <option value="Mensajería"></option>
        <option value="Mis mensajes"></option>
        <option value="Mis Expedientes"></option>
        <option value="Formularios"></option>
        <option value="Mis Formularios"></option>
    </datalist>
    <button (click)="redirectToPage()" class="search-button">Ir</button>
  </div>
  <div style="height: 30px;"></div>

  <div class="home-container">
    
    <div class="search-container">
     
      
  
      <!-- Buscador 2 (Redirección con sugerencias) -->

  </div>
  
     <!-- Contenedor con el contenido de la página -->
     <div id="content" #contentContainer>

      <h1 class="home-title">SanaConexión</h1>

      <section class="descripcion">
        <p>
          La nutrición adecuada es fundamental para mantener una buena salud y prevenir enfermedades. Un nutriólogo puede
          ayudarte a crear un plan de alimentación personalizado que se adapte a tus necesidades y objetivos de salud.
        </p>
      </section>
  
      <section class="beneficios">
        <h2 class="section-title">Beneficios de una Alimentación Saludable</h2>
        <ul>
          <li><i class="bi bi-check-circle-fill"></i> Mejora el sistema inmunológico</li>
          <li><i class="bi bi-check-circle-fill"></i> Controla el peso corporal</li>
          <li><i class="bi bi-check-circle-fill"></i> Aumenta la energía y el rendimiento físico</li>
          <li><i class="bi bi-check-circle-fill"></i> Reduce el riesgo de enfermedades crónicas</li>
          <li><i class="bi bi-check-circle-fill"></i> Mejora la digestión y la salud intestinal</li>
        </ul>
      </section>
  
      <section class="servicios">
        <h2 class="section-title">Servicios de Nutrición</h2>
        <ul>
          <li><i class="bi bi-person-fill"></i> Evaluación del estado nutricional</li>
          <li><i class="bi bi-person-fill"></i> Creación de planes de alimentación personalizados</li>
          <li><i class="bi bi-person-fill"></i> Asesoría en control de peso</li>
          <li><i class="bi bi-person-fill"></i> Nutrición deportiva</li>
          <li><i class="bi bi-person-fill"></i> Educación nutricional</li>
        </ul>
      </section>
    </div>
  </div>

     <!-- Botón de volver arriba -->
     <button id="backToTop" class="back-to-top" (click)="scrollToTop()">
      ↑
  </button>

     </div>

    
<footer>
  <app-pie-pagina></app-pie-pagina>
</footer>