<div *ngIf="datosCargados">
  <div class="home-container">
    <h1 class="home-title">SanaConexión</h1>

    <section class="descripcion">
      <p>
        La nutrición adecuada es fundamental para mantener una buena salud y prevenir enfermedades. Un nutriólogo puede
        ayudarte a crear un plan de alimentación personalizado que se adapte a tus necesidades y objetivos de salud.
      </p>
    </section>

    <section class="beneficios">
      <h2 class="section-title">Beneficios de una Alimentación Saludable</h2>
      <ul>
        <li><i class="bi bi-check-circle-fill"></i> Mejora el sistema inmunológico</li>
        <li><i class="bi bi-check-circle-fill"></i> Controla el peso corporal</li>
        <li><i class="bi bi-check-circle-fill"></i> Aumenta la energía y el rendimiento físico</li>
        <li><i class="bi bi-check-circle-fill"></i> Reduce el riesgo de enfermedades crónicas</li>
        <li><i class="bi bi-check-circle-fill"></i> Mejora la digestión y la salud intestinal</li>
      </ul>
    </section>

    <section class="servicios">
      <h2 class="section-title">Servicios de Nutrición</h2>
      <ul>
        <li><i class="bi bi-person-fill"></i> Evaluación del estado nutricional</li>
        <li><i class="bi bi-person-fill"></i> Creación de planes de alimentación personalizados</li>
        <li><i class="bi bi-person-fill"></i> Asesoría en control de peso</li>
        <li><i class="bi bi-person-fill"></i> Nutrición deportiva</li>
        <li><i class="bi bi-person-fill"></i> Educación nutricional</li>
      </ul>
    </section>
  </div>