<footer>
  <!-- Botón para abrir el modal -->
<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-outline-warning" type="button" data-bs-toggle="modal" data-bs-target="#mapaModal">
      Mapa del sitio
  </button>
  <p></p>
</div>

<!-- Modal -->
<div class="modal fade" id="mapaModal" tabindex="-1" aria-labelledby="mapaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg"> <!-- Tamaño grande -->
      <div class="modal-content">
        <h4>Mapa del sitio</h4>
          <div class="modal-header bg-light">
              <h4 class="modal-title text-dark" id="mapaModalLabel">Mapa del Sitio</h4>
              
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <!-- Contenedor del Mapa del Sitio -->
              <div class="sitemap">
                  <div class="tree">
                      <div class="parent">SanaConexión</div>
                      <div class="children">
                        <a href="/home" class="child">Home</a>

                          <a href="/mensajeria" class="child">Mensajería</a>
                          <div class="child-group">
                            <a href="/formE" class="child main">Formularios</a>
                            <div class="sub-children">
                                <div class="sub-child">Tus Formularios</div>
                                <div class="sub-child">Crear Formulario</div>
                            </div>
                        </div>
                          <a href="/expedientes" class="child">Expedientes</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
      </div>
  </div>
</div>




<!--Contenido del pié de página-->

    <div class="footer-container">
      <div class="footer-section">
        <h4>Sobre Nosotros</h4>
        <p>Somos una aplicación que te ayudara a llevar una vida plena y sana, todo esto con ayuda de especialistas nutriólogos</p>
      </div>
      <div class="footer-section">
        <h4>Enlaces Útiles</h4>
        <ul>
          <li><a href="/inicioE">Inicio</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="/aviso-Privacidad">Política de Privacidad</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Contacto</h4>
        <p>Email: atencionalcliente@sanaconexion.com</p>
        <p>Dirección: Calle Hidalgo 13, Dolores Hidalgo CIN, Guanajuato, México.</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Sana Conexión. Todos los derechos reservados.</p>
    </div>
  </footer>