<footer>
    <div class="footer-container">
      <div class="footer-section">
        <h4>Sobre Nosotros</h4>
        <p>Somos una aplicación que te ayudara a llevar una vida plena y sana, todo esto con ayuda de especialistas nutriólogos</p>
      </div>
      <div class="footer-section">
        <h4>Enlaces Útiles</h4>
        <ul>
          <li><a href="/inicioE">Inicio</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="/aviso-Privacidad">Política de Privacidad</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Contacto</h4>
        <p>Email: atencionalcliente@sanaconexion.com</p>
        <p>Dirección: Calle Hidalgo 13, Dolores Hidalgo CIN, Guanajuato, México.</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Sana Conexión. Todos los derechos reservados.</p>
    </div>
  </footer>