<div class="container mt-5">
    <!-- Sección de Cuestionarios Disponibles -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="mb-4 text-center">Cuestionarios Disponibles</h2>
        <div class="card shadow-sm rounded-3">
          <div class="card-body p-4">
            <ul class="list-group list-group-flush">
              <li *ngFor="let cuest of cuestionariosget" 
                  class="list-group-item d-flex align-items-start gap-3"
                  style="border: none; padding: 1rem 0; cursor: pointer;"
                  (click)="redirectToCuestionario(cuest.IdCuestionario)">
                <!-- Icono de Notificación -->
                <div class="bg-light rounded-circle d-flex align-items-center justify-content-center" style="width: 50px; height: 50px;">
                  <i class="bi bi-clock text-danger fs-4"></i>
                </div>
                <!-- Contenido de Notificación -->
                <div class="flex-grow-1">
                  <p class="mb-1 font-weight-bold" style="color: #333;">{{ cuest.NomCuestionario }}</p>
                  <small class="text-muted">{{ cuest.Descripcion }}</small>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
    <footer class="footer mt-5">
      <div class="text-center">
        <p>&copy; 2024 SanaConexión. Todos los derechos reservados.</p>
      </div>
    </footer>
  </div>