.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  .list-group-item:hover {
    background-color: #f1f1f1; /* Color de fondo en hover */
    transition: background-color 0.3s ease; /* Transición suave */
  }

  .cuestionario-item {
    border: none;
    padding: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cuestionario-item:hover {
    background-color: #f8f9fa;
}

.breadcrumb{
  margin-top: -25px;
}
.search-input {
  border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}
mark {
  background-color: yellow;
  color: black;
  font-weight: bold;
  padding: 2px;
}
.redirect-container {
  position: absolute;
  top: 13.5%;
  right: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  background: white;
  padding: 8px 10px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

.search-button {
  background: #4CAF50;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  text-align: right;
}