<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 text-center">
                <h1 class="text-center">Perfil de usuario</h1>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="container">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="col-md-8 text-center">
                <div *ngIf="user" class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title text-center">Información</h3>
                    </div>

                    <!-- Información del usuario -->
                    <div class="card-body">
                        <strong><i class="fas fa-user mr-1"></i> Nombre:</strong>
                        <p class="text-muted">
                            <input *ngIf="editMode" type="text" [(ngModel)]="user.NombreCompleto" class="form-control" />
                            <span *ngIf="!editMode">{{ user.NombreCompleto || 'No disponible' }}</span>
                        </p>
                        <hr />
                        <strong><i class="fas fa-book mr-1"></i> Perfil:</strong>
                        <p class="text-muted">{{ user.tipoUsuario || 'No disponible'}}</p>
                        <hr />
                        <strong><i class="fas fa-phone mr-1"></i> Teléfono:</strong>
                        <p class="text-muted">
                            <input *ngIf="editMode" type="text" [(ngModel)]="user.Telefono" class="form-control" />
                            <span *ngIf="!editMode">{{ user.Telefono || 'No disponible' }}</span>
                        </p>
                        <hr />
                        <strong><i class="fas fa-envelope mr-1"></i> Correo:</strong>
                        <p class="text-muted">
                            <input *ngIf="editMode" type="email" [(ngModel)]="user.Email" class="form-control" />
                            <span *ngIf="!editMode">{{ user.Email || 'No disponible' }}</span>
                        </p>
                        <hr />
                        <strong><i class="fas fa-key mr-1"></i> Contraseña:</strong>
                        <p class="text-muted">
                            <input *ngIf="editMode" type="password" [(ngModel)]="user.Password" class="form-control" />
                            <span *ngIf="!editMode">*********</span>
                        </p>
                        <hr />

                        <!-- Botones de Editar y Guardar Perfil -->
                        <div class="text-center mt-3">
                            <button *ngIf="!mostrarEntrevista" class="btn btn-primary" (click)="toggleEntrevista()">
                                Ver Entrevista Inicial
                            </button>
                            <button *ngIf="mostrarEntrevista" class="btn btn-primary" (click)="toggleEntrevista()">
                                Ocultar Entrevista Inicial
                            </button>
                            <button *ngIf="!editMode" class="btn btn-secondary" (click)="editarPerfil2()">
                                Editar Perfil
                            </button>
                            <button *ngIf="editMode" class="btn btn-primary" (click)="editarPerfil()">
                                Guardar Cambios
                            </button>
                            <button *ngIf="editMode" class="btn btn-secondary" (click)="cancelarEdicion()">
                                Cancelar
                            </button>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <!-- Sección de Entrevista Inicial -->
                    <div *ngIf="mostrarEntrevista">
                        <h3 class="card-title text-center">Entrevista Inicial</h3>
                        <hr />
                        <strong>Edad:</strong>
                        <p class="text-muted">{{ cliente.Edad || 'No disponible' }}</p>
                        <hr />
                        <strong>Sexo:</strong>
                        <p class="text-muted">{{ cliente.Sexo || 'No disponible' }}</p>
                        <hr />
                        <strong>Peso:</strong>
                        <p class="text-muted">{{ cliente.Peso || 'No disponible' }}</p>
                        <hr />
                        <strong>Estatura:</strong>
                        <p class="text-muted">{{ cliente.Estatura || 'No disponible' }}</p>
                        <hr />
                        <strong>Enfermedades Crónicas:</strong>
                        <p class="text-muted">{{ cliente.EnfCronicas || 'No disponible' }}</p>
                        <hr />
                        <strong>Alergias:</strong>
                        <p class="text-muted">{{ cliente.Alergias || 'No disponible' }}</p>
                        <hr />
                        <strong>Objetivo de Salud:</strong>
                        <p class="text-muted">{{ cliente.ObjetivoSalud || 'No disponible' }}</p>
                        <hr />
                        <strong>Medicamentos:</strong>
                        <p class="text-muted">{{ cliente.Medicamentos || 'No disponible' }}</p>
                        <hr />
                        <strong>Foto:</strong>
                        <div *ngIf="cliente.Foto">
                            <img [src]="cliente.Foto" alt="Foto del cliente" class="img-fluid" />
                        </div>
                        <p *ngIf="!cliente.Foto" class="text-muted">No disponible</p>
                        <hr />

                        <!-- Botones de Ocultar Entrevista y Editar Entrevista -->
                        <div class="text-center mt-3">
                            <button class="btn btn-primary" (click)="toggleEntrevista()">
                                Ocultar Entrevista Inicial
                            </button>
                            <button class="btn btn-secondary" (click)="editarEntrevista()">
                                Editar Entrevista
                            </button>
                        </div>
                    </div>

                </div>
                <div *ngIf="!user" class="text-center">
                    <p>No se pudo cargar la información del usuario.</p>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
