<app-navbar></app-navbar>
<div class="container mt-4">
  <h2>Crear Formulario Personalizado</h2>

  <!-- Formulario para nombre y descripción del cuestionario -->
  <div class="form-group">
    <label for="NomCuestionario">Nombre del Cuestionario</label>
    <input type="text" class="form-control" [(ngModel)]="cuestionario.NomCuestionario" name="NomCuestionario"
      placeholder="Nombre del Cuestionario">
  </div>

  <div class="form-group">
    <label for="Descripcion">Descripción</label>
    <textarea class="form-control" [(ngModel)]="cuestionario.Descripcion" name="Descripcion"
      placeholder="Descripción del Cuestionario"></textarea>
  </div>

  <!-- Formulario dinámico de preguntas -->
  <form [formGroup]="form">
    <div formArrayName="fields">
      <div *ngFor="let field of fields.controls; let i = index" [formGroupName]="i" class="question-container">

        <!-- Pregunta -->
        <div class="form-group">
          <label for="question">Pregunta {{i + 1}}</label>
          <input class="form-control" formControlName="question" placeholder="Escribe tu pregunta">
        </div>

        <!-- Mostrar opciones si es pregunta de opción múltiple -->
        <div *ngIf="field.value.type === 'multiple-choice'" class="options-container">
          <label for="options">Opciones</label>
          <div formArrayName="options" class="mb-3">
            <div *ngFor="let option of getOptions(i).controls; let j = index" class="form-group">
              <input class="form-control" [formControlName]="j" placeholder="Escribe una opción">
            </div>
          </div>
          <button type="button" class="btn btn-secondary btn-sm" (click)="addOptionToField(i)">Añadir Opción</button>
        </div>

        <!-- Botón para eliminar la pregunta -->
        <button class="btn btn-danger btn-sm" (click)="removeField(i)">Eliminar Pregunta</button>
      </div>
    </div>
  </form>

  <!-- Botones para añadir preguntas -->
  <div class="mt-4">
    <button class="btn btn-primary" (click)="addTextField()">Añadir Pregunta Abierta</button>
    <button class="btn btn-info" (click)="addMultipleChoiceField()">Añadir Opción Múltiple</button>
  </div>
  <div class="mt-4">
    <button class="btn btn-success" (click)="saveForm()">Guardar Formulario</button>
  </div>
</div>