<app-navbar></app-navbar>
<!-- Crear Formulario -->
<div class="container mt-4" *ngIf="userLoger">
  <h2 class="mb-4">Crear Nuevo Formulario</h2>

  <div class="form-group">
    <label for="NomCuestionario">Nombre del Cuestionario</label>
    <input type="text" class="form-control" [(ngModel)]="cuestionario.NomCuestionario" name="NomCuestionario"
      placeholder="Nombre del Cuestionario" required>
    <div *ngIf="editForm.get('NomCuestionario')?.invalid && editForm.get('NomCuestionario')?.touched"
      class="text-danger">
      El nombre del cuestionario es requerido.
    </div>
  </div>

  <div class="form-group">
    <label for="Descripcion">Descripción</label>
    <textarea class="form-control" [(ngModel)]="cuestionario.Descripcion" name="Descripcion"
      placeholder="Objetivo del Cuestionario" required></textarea>
    <div *ngIf="editForm.get('Descripcion')?.invalid && editForm.get('Descripcion')?.touched" class="text-danger">
      La descripción es requerida.
    </div>
  </div>

  <form [formGroup]="form">
    <div formArrayName="fields">
      <div *ngFor="let field of fields.controls; let i = index" [formGroupName]="i" class="question-container">
        <div class="form-group">
          <label for="question">Pregunta {{i + 1}}</label>
          <input class="form-control" formControlName="question" placeholder="Escribe tu pregunta" required>
          <div *ngIf="field.get('question')?.invalid && field.get('question')?.touched" class="text-danger">
            La pregunta es requerida.
          </div>
        </div>

        <div *ngIf="field.value.type === 'multiple-choice'" class="options-container">
          <label for="options">Opciones</label>
          <div formArrayName="options" class="mb-3">
            <div *ngFor="let option of getOptions(i).controls; let j = index" class="form-group">
              <input class="form-control" [formControlName]="j" placeholder="Escribe una opción">
            </div>
          </div>
          <button type="button" class="btn btn-secondary btn-sm" (click)="addOptionToField(i)">Añadir Opción</button>
        </div>

        <button class="btn btn-danger btn-sm" (click)="removeField(i)">Eliminar Pregunta</button>
      </div>
    </div>
  </form>

  <!-- Botones para añadir preguntas -->
  <div class="mt-4">
    <button class="btn btn-primary" (click)="addTextField()">Añadir Pregunta</button>
  </div>
  <div class="mt-4">
    <button class="btn btn-success" (click)="saveForm()">Guardar Formulario</button>
  </div>
</div>

<!-- Formularios existentes -->
<div class="container mt-4" *ngIf="userLoger">
  <h2 class="mb-4">Tus formularios</h2>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let cuestionario of cuestionarios; let i = index">
      <div class="card">
        <div class="card-body">
          <div *ngIf="!enEdicion[cuestionario.IdCuestionario]">
            <h5 class="card-title">{{ cuestionario.NomCuestionario }}</h5>
            <p class="card-text">{{ cuestionario.Descripcion }}</p>

            <button class="btn btn-primary" (click)="togglePreguntas(i)">
              {{ cuestionario.mostrarPreguntas ? 'Ocultar preguntas' : 'Ver preguntas' }}
            </button>
          </div>

          <div *ngIf="cuestionario.mostrarPreguntas" class="mt-3">
            <p>Preguntas:</p>
            <ul>
              <li *ngFor="let pregunta of cuestionario.preguntas">
                <div *ngIf="!enEdicionPre[pregunta.IdPregunta]" class="question-item">
                  <span>{{ pregunta.Pregunta }}</span>
                  <div class="dropdown">
                    <button class="btn btn-link" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li><button class="dropdown-item" (click)="editPreguntas(pregunta)">Editar</button></li>
                      <li><button class="dropdown-item text-danger"
                          (click)="deletePregunta(pregunta.IdPregunta)">Eliminar</button></li>
                    </ul>
                  </div>
                </div>

                <!--Actualizar Pregunta-->
                <div *ngIf="enEdicionPre[pregunta.IdPregunta]" class="edit-form mt-2">
                  <form [formGroup]="editPre" (ngSubmit)="saveChangePre(pregunta.IdPregunta)">
                    <input type="text" formControlName="Pregunta" class="form-control"
                      placeholder="Escribe tu pregunta">
                    <div class="align-right">
                      <button type="submit" class="btn btn-success btn-sm">Guardar</button>
                      <button type="button" class="btn btn-secondary btn-sm"
                        (click)="cancelEditPre(pregunta.IdPregunta)">Cancelar</button>
                    </div>
                  </form>
                </div>
              </li>
            </ul>

            <button class="btn btn-primary" (click)="addPregunta(cuestionario.IdCuestionario)">Agregar Pregunta</button>
            <!--Agregar Pregunta-->
            <div *ngIf="addPre[cuestionario.IdCuestionario]" class="mt-3">
              <form [formGroup]="addsPre" (ngSubmit)="savePre(cuestionario.IdCuestionario)">
                <input type="text" formControlName="Pregunta" class="form-control" placeholder="Escribe tu pregunta">
                <button type="submit" class="btn btn-success btn-sm mt-2">Guardar</button>
                <button type="button" class="btn btn-secondary btn-sm mt-2"
                  (click)="cancelAddPre(cuestionario.IdCuestionario)">Cancelar</button>
              </form>
            </div>
          </div>

          <!--Actualizar Cuestionario-->
          <div *ngIf="enEdicion[cuestionario.IdCuestionario]" class="edit-form mt-4">
            <form [formGroup]="editForm" (ngSubmit)="saveChanges(cuestionario.IdCuestionario)">
              <div class="form-group">
                <label for="NomCuestionario">Nombre del Cuestionario</label>
                <input type="text" class="form-control" formControlName="NomCuestionario"
                  placeholder="Nombre del Cuestionario">
              </div>
              <div class="form-group">
                <label for="Descripcion">Descripción</label>
                <textarea class="form-control" formControlName="Descripcion"
                  placeholder="Objetivo del Cuestionario"></textarea>
              </div>
              <button type="submit" class="btn btn-success">Guardar Cambios</button>
              <button type="button" class="btn btn-secondary"
                (click)="cancelEditForm(cuestionario.IdCuestionario)">Cancelar</button>
            </form>
          </div>
          <!--Botones Cuestionario-->
          <div *ngIf="!enEdicion[cuestionario.IdCuestionario]">
            <button class="btn btn-warning" (click)="editCuestionario(cuestionario)">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" (click)="deleteForm(cuestionario.IdCuestionario)">
              <i class="fas fa-trash-alt"></i>
            </button>
            <div class="d-flex justify-content-end">
              <button class="btnsend" (click)="abrirModal(cuestionario.IdCuestionario)">
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" tabindex="-1" [ngClass]="{'show': mostrarModal}" *ngIf="mostrarModal" (click)="cerrarModal($event)">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Selecciona un Chat</h5>
      </div>
      <div class="scrollable-container d-flex flex-column">
        <div *ngFor="let cliente of clientes" class="d-flex flex-row card-bodytext">
          <div class="contenedorPfl">
            <div class="contact-card d-flex flex-row shadow-sm" (click)="seleccionarCliente(cliente.IdUsuario, $event)"
              [ngClass]="{'selected': clienteSeleccionado === cliente.IdUsuario}">
              <img [src]="cliente.Foto" alt="{{ cliente.Nombre }}" class="contact-avatar">
              <div class="contact-info d-flex flex-column">
                <h5>{{ cliente.Nombre }}</h5>
                <p><strong>Edad:</strong> {{ cliente.Edad }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal($event)">Cerrar</button>
        <button type="button" class="btn btn-primary" [disabled]="!clienteSeleccionado"
          (click)="enviarFormulario()">Enviar Formulario</button>
      </div>
    </div>
  </div>
</div>